a,
a:hover {
    color: #c2c2c2;
}

body {
    font-family: 'Lexend', sans-serif;
    font-size: 13px;
    font-weight: 400;
    line-height: 1.5;
    color: #3f4254;
    text-align: left;
}

// override
.styles_scroll-to-top__2A70v svg {
    height: 24px;
    width: 24px;

    overflow: hidden;
    vertical-align: middle;

    // màu trong svg sẽ chuyển sang trắng
    g [fill] {
        transition: fill 0.3s ease;
        fill: #ffffff;
    }
}

[class*=' SnackbarItem-contentRoot-'] {
    font-size: 13px !important;
    font-family: 'Lexend', sans-serif !important;
    line-height: 1.5 !important;
}

.required::after {
    content: ' *';
    color: #f64e60;
}

.middle-dot:before {
    content: '\00b7';
    margin-left: 0.5rem;
    margin-right: 0.5rem;
    color: rgb(170, 170, 170);
}

.top--4 {
    top: -4px !important;
}

input.rtl {
    text-align: left;
}

.bullet.bullet-bar {
    -ms-flex-negative: 0 !important;
    flex-shrink: 0 !important;

    &.height-fixed {
        height: 134px;
    }
}

.shipper-info {
    display: grid;
    grid-template-columns: 40px 1fr;
    grid-column-gap: 6px;

    .avatar-shipper-sm {
        grid-row: span 2;
    }
}

.avatar-shipper-sm img {
    border-radius: 100%;
    height: 40px;
    width: 40px;
}

.was-validated .form-control-solid:invalid,
.form-control-solid.is-invalid {
    border: 1px solid #f2994a;
    padding-right: calc(1.5em + 1.3rem);
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23f2994a' width='12' height='12'%3E%3Cpath fill-rule='evenodd' d='M8.22 1.754a.25.25 0 00-.44 0L1.698 13.132a.25.25 0 00.22.368h12.164a.25.25 0 00.22-.368L8.22 1.754zm-1.763-.707c.659-1.234 2.427-1.234 3.086 0l6.082 11.378A1.75 1.75 0 0114.082 15H1.918a1.75 1.75 0 01-1.543-2.575L6.457 1.047zM9 11a1 1 0 11-2 0 1 1 0 012 0zm-.25-5.25a.75.75 0 00-1.5 0v2.5a.75.75 0 001.5 0v-2.5z'%3E%3C/path%3E%3C/svg%3E");
    background-repeat: no-repeat;
    background-position: right calc(0.375em + 0.325rem) center;
    background-size: calc(0.75em + 0.65rem) calc(0.75em + 0.65rem);
}

.was-validated .form-control-solid:invalid:focus,
.form-control-solid.is-invalid:focus {
    border: 1px solid #f2994a;
    -webkit-box-shadow: 0 0 0 0.2rem rgba(246, 78, 96, 0.25);
    box-shadow: 0 0 0 0.2rem rgba(246, 78, 96, 0.25);
}

.empty-order {
    display: flex;
    justify-content: center;

    border: 1px dashed #d3d6da;
    border-radius: 0.5rem;

    width: 100%;
    padding: 20px;
    margin-bottom: 3rem;
}

.bg {
    height: 100%;
    min-height: 100vh;
    background-color: #f0f2f5;
}

.bg-orange {
    background-color: #f2c94c;
}

.aside {
    background-color: rgb(170, 170, 170);
}

.sidebar {
    background-color: #f6f7f9;
}

.aside .btn.btn-icon {
    color: #fff;

    i {
        color: #fff;
    }

    .svg-icon svg g [fill] {
        -webkit-transition: fill 0.3s ease;
        transition: fill 0.3s ease;
        fill: #fff;
    }

    .svg-icon svg:hover g [fill] {
        -webkit-transition: fill 0.3s ease;
        transition: fill 0.3s ease;
    }

    &.dropdown-toggle:after {
        color: #fff;
    }

    &:hover:not(.btn-text):not(:disabled):not(.disabled),
    &:focus:not(.btn-text),
    &.focus:not(.btn-text) {
        color: #fff;
        background-color: #747474;
    }

    &:hover:not(.btn-text):not(:disabled):not(.disabled) i,
    &:focus:not(.btn-text) i,
    &.focus:not(.btn-text) i {
        color: #fff;
    }

    &:hover:not(.btn-text):not(:disabled):not(.disabled) .svg-icon svg g [fill],
    &:focus:not(.btn-text) .svg-icon svg g [fill],
    &.focus:not(.btn-text) .svg-icon svg g [fill] {
        -webkit-transition: fill 0.3s ease;
        transition: fill 0.3s ease;
        fill: #fff;
    }

    &:hover:not(.btn-text):not(:disabled):not(.disabled) .svg-icon svg:hover g [fill],
    &:focus:not(.btn-text) .svg-icon svg:hover g [fill],
    &.focus:not(.btn-text) .svg-icon svg:hover g [fill] {
        -webkit-transition: fill 0.3s ease;
        transition: fill 0.3s ease;
    }

    &:hover:not(.btn-text):not(:disabled):not(.disabled).dropdown-toggle:after,
    &:focus:not(.btn-text).dropdown-toggle:after,
    &.focus:not(.btn-text).dropdown-toggle:after {
        color: #fff;
    }

    &.disabled,
    &:disabled {
        color: #fff;
    }

    &.disabled i,
    &:disabled i {
        color: #fff;
    }

    &.disabled .svg-icon svg g [fill],
    &:disabled .svg-icon svg g [fill] {
        -webkit-transition: fill 0.3s ease;
        transition: fill 0.3s ease;
        fill: #fff;
    }

    &.disabled .svg-icon svg:hover g [fill],
    &:disabled .svg-icon svg:hover g [fill] {
        -webkit-transition: fill 0.3s ease;
        transition: fill 0.3s ease;
    }

    &.disabled.dropdown-toggle:after,
    &:disabled.dropdown-toggle:after {
        color: #fff;
    }
}

.aside .btn.btn-icon:not(:disabled):not(.disabled):active:not(.btn-text),
.aside .btn.btn-icon:not(:disabled):not(.disabled).active,
.show > .aside .btn.btn-icon.dropdown-toggle,
.show .aside .btn.btn-icon.btn-dropdown {
    color: #fff;
    background-color: #747474;

    i {
        color: #fff;
    }
}

.aside .btn.btn-icon:not(:disabled):not(.disabled):active:not(.btn-text) .svg-icon svg g [fill],
.aside .btn.btn-icon:not(:disabled):not(.disabled).active .svg-icon svg g [fill],
.show > .aside .btn.btn-icon.dropdown-toggle .svg-icon svg g [fill],
.show .aside .btn.btn-icon.btn-dropdown .svg-icon svg g [fill] {
    -webkit-transition: fill 0.3s ease;
    transition: fill 0.3s ease;
    fill: #fff;
}

.aside .btn.btn-icon:not(:disabled):not(.disabled):active:not(.btn-text) .svg-icon svg:hover g [fill],
.aside .btn.btn-icon:not(:disabled):not(.disabled).active .svg-icon svg:hover g [fill],
.show > .aside .btn.btn-icon.dropdown-toggle .svg-icon svg:hover g [fill],
.show .aside .btn.btn-icon.btn-dropdown .svg-icon svg:hover g [fill] {
    -webkit-transition: fill 0.3s ease;
    transition: fill 0.3s ease;
}

.aside .btn.btn-icon:not(:disabled):not(.disabled):active:not(.btn-text).dropdown-toggle:after,
.aside .btn.btn-icon:not(:disabled):not(.disabled).active.dropdown-toggle:after,
.show > .aside .btn.btn-icon.dropdown-toggle.dropdown-toggle:after,
.show .aside .btn.btn-icon.btn-dropdown.dropdown-toggle:after {
    color: #fff;
}

// breadcrumb

.breadcrumb {
    display: flex;
    flex-wrap: wrap;
    padding: 0 0;
    margin-bottom: 1rem;
    list-style: none;
    background-color: transparent;
    border-radius: 0;
}

.breadcrumb-item + .breadcrumb-item {
    padding-left: 0.5rem;

    &::before {
        display: inline-block;
        padding-right: 0.5rem;
        color: #adb5bd;
        content: '>';
    }

    &:hover::before {
        text-decoration: none;
    }
}

.breadcrumb-item.active {
    color: #6c757d;
}

// menu

.menu-nav {
    height: 80px;
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
}

.menu-link {
    cursor: pointer;
    display: flex;
    position: relative;
    vertical-align: middle;
    align-items: stretch;
    outline: none !important;
    text-decoration: none;
}

.menu-item {
    position: relative;
    padding: 0.5rem 0.25rem;
    margin-right: 0.25rem;
}

.menu-item > .menu-link {
    & > .menu:hover {
        background: linear-gradient(90deg, #a18cd1 0%, #fbc2eb 100%);
        border-radius: 3rem;
        padding: 0.5rem 1rem;
        color: #fff !important;
    }

    & > .menu.active {
        background: linear-gradient(90deg, #a18cd1 0%, #fbc2eb 100%);
        border-radius: 3rem;
        padding: 0.5rem 1rem;
        color: #fff !important;
    }

    & > .menu.none {
        border-radius: 3rem;
        padding: 0.5rem 1rem;
    }
}

// menu color

.menu-recent {
    color: #98a6ad !important;
}

.menu-in-progress {
    color: #f2994a !important;
}

.menu-picked {
    color: rgb(0, 132, 255) !important;
}

.menu-completed {
    color: #1bc5bd !important;
}

.menu-canceled {
    color: #f64e60 !important;
}

.card {
    display: flex;
    flex-direction: column;
    position: relative;

    min-width: 0;
    word-wrap: break-word;

    background-color: #ffffff;
    background-clip: border-box;

    border: 1px solid #ebedf3;
    border-radius: 0.675rem;

    .card-label {
        font-weight: 500;
        font-size: 1.333rem;
        color: #181c32;
    }

    .card-header .card-title {
        justify-content: center;
    }

    &.card-custom > .card-header .card-toolbar {
        display: flex;
        align-items: center;
        margin: 0.5rem 0;
        flex-wrap: wrap;
    }

    &.card-custom {
        box-shadow: 0px 0px 30px 0px rgba(82, 63, 105, 0.05);
        border: 0;
    }

    &.card-custom > .card-header.card-notify {
        min-height: 55px;
        border: 0;

        padding-top: 1.25rem;
        padding-left: 1.25rem;
        padding-right: 1.25rem;
    }
}

.card-header {
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    flex-wrap: wrap;

    min-height: 70px;
    padding: 2rem 2.25rem;
    padding-bottom: 0;
    margin-bottom: 0;

    background-color: transparent;
}

.card-body {
    background-color: transparent;
    color: #3f4254;

    padding: 1rem 2.25rem;
    margin-bottom: 0;

    font-size: 13px;
    line-height: 16px;
}

.card-title {
    display: flex;
    justify-content: space-between;
    align-items: center;

    color: #828282;

    &.content {
        margin-bottom: 0.75rem;

        font-style: normal;
        font-weight: normal;

        color: #828282;
    }
}

.card-bottom {
    margin-bottom: 30px;
}

h3.card-label {
    margin-bottom: 0;
}

.order {
    cursor: pointer;
}

.title {
    font-style: normal;
    font-weight: 500;

    font-size: 15px;
    line-height: 20px;

    color: #181c32;
}

.label-inprogress {
    color: #ffa800;
    background-color: #fff4de;
}

.label-picked {
    color: #663259;
    background-color: #f4e1f0;
}

.label-completed {
    color: #1bc5bd;
    background-color: #c9f7f5;
}

.label-canceled {
    color: #f64e60;
    background-color: #ffe2e5;
}

.label-chartjs {
    color: #f64e60;
    background-color: #ffe2e5;
}

.label-active {
    color: #ffa800;
    background-color: #fff4de;
    border-color: transparent;
}
.label-active:hover {
    color: #ffa800;
    background-color: #fff4de;
    border-color: transparent;
}

.delivery {
    font-size: 13px;
    font-weight: 500;
}

.display-info {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.avatar {
    display: inline-block;
    flex-shrink: 0;
    position: relative;

    width: 100px;
    height: 100px;

    border-radius: 25px;
    border: 1px solid #828282;

    background-color: #828282;
}

// text color

.text-id {
    color: #abbd81;
}

.text-progress {
    color: #f8b26a;
}

.text-picked {
    color: #e795b3;
}

.text-done {
    color: #5699d2;
}

.text-cancelled {
    color: #e15b64;
}

.text-time {
    color: #b5b5c3;
    white-space: nowrap;
}

.text-team {
    color: #828282;
}

.text-nav {
    color: #828282;
}

// text custom

.text-custom {
    color: #7fc1fc !important;
}
.text-danger-2 {
    color: #f5707a !important;
}
.text-muted-2 {
    color: #98a6ad !important;
}
.text-primary-2 {
    color: #188ae2 !important;
}
.text-warning-2 {
    color: #f9c851 !important;
}
.text-success-2 {
    color: #4bd396 !important;
}
.text-info-2 {
    color: #3ac9d6 !important;
}
.text-dark-2 {
    color: #313a46 !important;
}
.ic-dark {
    color: #6c757d !important;
}
.text-inverse {
    color: #3b3e47 !important;
}
.text-pink {
    color: #f06292 !important;
}
.text-purple {
    color: #6b5fb5 !important;
}
.text-orange {
    color: #ff9800 !important;
}
.text-brown {
    color: #8d6e63 !important;
}
.text-teal {
    color: #26a69a !important;
}
.text-tag {
    color: #ad4105 !important;
}
.text-chartjs {
    color: #f27173 !important;
}

// my favor color

.pallette-grey-1 {
    color: #ecf0f1 !important;
}
.pallette-grey-2 {
    color: #ccc !important;
}
.pallette-grey-3 {
    color: #95a5a6 !important;
}
.pallette-grey-4 {
    color: #666 !important;
}
.pallette-grey-5 {
    color: #333 !important;
}
.pallette-danger {
    color: #e74c3c !important;
}
.pallette-orange {
    color: #e67e22 !important;
}
.pallette-warning {
    color: #f1c40f !important;
}
.pallette-success {
    color: #2ecc71 !important;
}
.pallette-info {
    color: #1abc9c !important;
}
.pallette-primary {
    color: #3498db !important;
}
.pallette-purple {
    color: #9b59b6 !important;
}
.pallette-charcoal-green {
    color: #34495e !important;
}

// btn color

.btn-chartjs {
    background-color: #f27173;
    border-color: #f27173;
    color: white;
}
.btn-chartjs:hover {
    background-color: #e25f5f;
    border-color: #f27173;
    color: white;
}
.btn-docs:hover {
    background-color: #2793db;
    border-color: #2793db;
    color: white;
}
.btn-docs {
    background-color: #36a2eb;
    border-color: #36a2eb;
    color: white;
}
.btn-gh {
    background-color: #444;
    border-color: #444;
    color: white;
}
.btn-gh:hover {
    background-color: #333;
    border-color: #333;
    color: white;
}

.label.label-light-picked {
    color: rgb(0, 132, 255);
    background-color: #eee5ff;
}

.label-rounded {
    min-width: min-content;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
}

@media (max-width: 767.98px) {
    .card.card-custom .card-header,
    .card.card-custom .card-body {
        padding: 0.5rem 1rem;
    }
}
