.bg-menu-progress {
    background-color: #f2994a !important;
}

.bg-menu-picked {
    background-color: #922e7d !important;
}

.bg-menu-completed {
    background-color: #1bc5bd !important;
}

.bg-menu-canceled {
    background-color: #f64e60 !important;
}
